.main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.loginForm, .registerForm, .updateForm {
  background-color: darkgrey;
  border-radius: 20px;
  height: 482px;
  padding: 25px;
}

.registerForm {
  height: 530px;
}
.updateForm{
  height: 570px;
}

.userTypeRadio {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.cardsAlign {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
}
.cardTitle{
  text-align: center;
}
.imgTitle{
    color: black;
    color: rgba(0,0, 0, 0.7);
}
.artistCards,.cardImage {
  width: 18rem;
  margin-bottom: 15px;
  cursor: pointer;
}

.cardImage, .artistProfileImage {
  height: 200px;
  object-fit: cover;
}
.artistProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 56px 115px 115px;
  width: 85%;
  
}
.jumbo {
  background-image: url('./images/cartographer.png');
}
.loader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}
.user-type {
  display: flex;
  justify-content: space-around;
}
.nav-link {
  color:darkgrey;
}
.brand {
  font-family: 'Rock Salt', cursive;
}
.dropDownLink{
  color: black;
}


