.main {
  text-align: center;
  
}
.loginForm, .registerForm {
  background-color: darkgrey;
  border-radius: 20px;
  height: 525px;
  padding: 25px;
}

.registerForm {
  height: 560px;
}
.userTypeRadio {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

