.main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.loginForm, .registerForm, .passwordResetForm {
  background-color: darkgrey;
  border-radius: 20px;
  height: 482px;
  padding: 25px;
}

.registerForm {
  height: 530px;
}
.passwordResetForm {
  height: 350px;
}

.updateForm {
  background-color: darkgrey;
  border-radius: 20px;
  padding: 25px;
}
.updateButton {
  display: flex; 
  justify-content: center;
}

.userTypeRadio {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.cardsAlign {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
}

.cardTitle{
  text-align: center;
}

.imgTitle{
    color: black;
    color: rgba(0,0, 0, 0.7);
}

.artistCards,.cardImage {
  width: 18rem;
  margin-bottom: 15px;
  cursor: pointer;
}

.cardImage, .artistProfileImage {
  height: 200px;
  object-fit: cover;
}

.jumbo {
  background-image: url('./images/cartographer.png');
  height: 100px;
}

.artistProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 56px 115px 115px;
  width: 85%;
}

.loader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}

.user-type {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  color:darkgrey;
}

.brand {
  font-family: 'Rock Salt', cursive;
  margin: auto;
}  

@media only screen and (max-width: 576px){
  .searchButton {
    width: 100%;
    margin: auto;
  }
  .dropdown {
    margin: auto;
  }
}

tr {
  text-align: center;
}

.xs-d, .xs-e {
  font-size: 10px
}

.xs-d:hover {
  color:red
}

.xs-e:hover {
  color:blue
}

.comments {
  height: 415px;
}

.social-media-icons {
  display: flex;
  justify-content: space-around;
}

.network-title {
  font-family: 'Rock Salt', cursive;
}

.contactar {
  color: #128c7e;
}

.fa-instagram {
  color: #833ab4;
}

.fa-instagram:hover {
  color: #c13584;
  font-weight: bold;
}

.fa-facebook:hover {
  color: #3b5998;
  font-weight: bold;
}

.fa-twitter:hover {
  color: #00acee;

  font-weight: bold;
}

.fa-whatsapp:hover {
  color: #25D366;
  font-weight: bold;
}

.wapp-button {
  border-radius: 5px;
  background-color: #f7f7f7;
}

.wapp-button:hover {
  font-weight: bold;
  font-size: 20px;
  border: 2px solid green;
  border-radius: 5px;
} 